*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    
    
}
.preloader{
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255), 0.15;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
}
.loader{
   
    height: 150px;
    width: 150px;
    background-color: transparent;
    border-bottom: 10px  dotted black;
     border-top: 0px solid black;
      border-left: 0px solid black;
       border-right: 0px solid black;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
    animation: rotate 3s  infinite;
    transform: rotate(360deg);
    animation-delay: 0.2s;
}
.page1{
    height: 100%;
    width: 99.8vw;
    background-image: url("saloon1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

   
   
   
}
.music{
    display: flex;
    height: 200px;
    width: 100%;
    /* background-color: aqua; */
    align-items: flex-end;
    justify-content: center;

}
.music p {
    font-size: 100px;
    font-weight: 700;
   

}
.nav{
    height: 80px;
    width: 97%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    position:fixed;
    margin-top: 5px;
}
.nav a{
    font-size: 30px;
    text-decoration: none;
    color: grey;
}
.page{
    height: 100vh;
    width: 100vw;
    font-size: 10vh;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
html{
    scroll-behavior: smooth;
}
.box1{
    height: 150px;
    width: 40%;
    /* border: 5px solid red; */
    display: flex;
    position: absolute;
    top: 75%;
    right: 2%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.class{
    width: 100px;
    height: 80%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
   
  
}
.play{
    display: flex;

}
.pause{
    display: none;
}
.musicList{
    height: 75vh;
    width: 50vw;
   overflow-y: auto;
   overflow-x: hidden;
    margin-top: 10px;
    margin-left: 10px;
     display: flex;
    flex-direction: column;
      gap: 12px;
      /* border: 5px solid black; */
}
.musicList p{
    height:10vh ;
    font-size: 3vh;
    font-weight: bold;
   
    color: black;
    width: 100%;
   cursor: pointer;
   /* border-bottom: 2px solid black; */
   padding-left: 20px;
   
  
}
#m1{
    color: black;
}

.track{
    height: 250px;
    width: 250px;
   background-image: url("soundtrack.jpg");
   background-size: cover;
   background-position: center;
    position: absolute;
    top:35% ;
    right: 14%;
    border-radius: 50%;
    border: 2px solid black;
   
}
.class:hover{
    font-size: 60px;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: (360deg);
    }
    
}
   
@keyframes rotate {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
    
}
@media (max-width:576px) {
    *{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    .page1{
        height: 100vh;
        width: 100vw;
        background-size: cover;
        overflow-x: hidden;
        

    }
    .nav{
        height: 8vh;
        width: 100%;
        display: flex;
      
        justify-content: flex-start;
      
        align-items: center;
        position: fixed;
        overflow-x: hidden;
       
    }
    .nav a{
       font-size: 2vh;
      
       margin-right: 42px;
    }
    .music{
        position: absolute;
        top: -12%;
    }
    .music p{
        font-size: 4vh;
    }
    .track{
        height: 120px;
        width: 120px;
        position: absolute;
        left: 118px;
        top: 65%;
        
    }
    .musicList{
        height: 300px;
        width: 90%;
        position: relative;
        top: 17%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        margin: 1px;
        border: 0px solid black;
        gap: 5px;
        
    }
    .musicList p{
        font-size: 20px;
        width: 80%;
        height: 25px;
        border-bottom: 0px solid black;
       
        cursor: none;
        display: flex;
        flex-shrink: 0;
        margin-left: 1px;
       
       

        
    }
    .box1{
        height: 10vh;
        width: 220px;
        position: absolute;
        
        left: 75px;
        top: 85%;
    }
    .box1 div{
        font-size: 5vh;
    }
    .class:hover{
        font-size: 5vh;
    }
    .loader{
        height: 100px;
        width: 100px;
        position: absolute;
        top: 30%;
        left: 33%;
    }
    
}














/* .page1 .control{
    
    width: 50%;
   border: 5px solid black;
    display: flex;
    position:  relative;
    top: 300px;
    left: 25%;
    align-items: center;
   

}
.song{
    height: 200px;
    width: 200px;
    background-color: red;
    margin-left: 50PX;
    border-radius: 50%;
    border-top: 10px solid black;
    border-right: 0px solid red;
    border-left:  0px solid red;
    border-bottom: 10px solid black;
   display: flex;
    animation: rotate 3.6s infinite 0s ;
    position: absolute;
}
.play{
   
    color: white;
    font-size: 7vh;
    display: flex;
}
.pause{
    color: white;
    font-size: 7vh;
    display: flex;
}
#backward{
    font-size: 7vh;
    color: white;
    position: absolute;
    left: 280px;
    top: 48%;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
       
    }
    100%{
        transform: rotate(360deg) ;
    }
    
}
.previous{
    height: 200px;
    width: 200px;
    background-color: transparent;
    margin-left: 50PX;
    display: flex;
    align-items: center;
    justify-content: center;
}.previous button{
    font-size: 5vh;
    color: white;
   background-color: transparent;
   outline: none;
   border: none;
    font-weight: bold;
    
}
.next{
    height: 200px;
    width: 200px;
    background-color: transparent;
    margin-left: 50PX;
    display: flex;
    align-items: center;
    justify-content: center;
}.next button{
    font-size: 5vh;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
   
    font-weight: bold;
    
} */